@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  margin: 0;
  font-family: garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #F87666; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #F87666; /* Gecko Browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yeseva{
  font-family: 'Yeseva One', serif;
}

.garamond{
  font-family: 'EB Garamond', serif;
}

.red-button-gradient{
  background: linear-gradient(125.04deg, #F87666 29.39%, #BA1F0C 207.97%);
}

.home-gradient{
  background: linear-gradient(170.69deg, #FCDCB8 7.04%, #AD5F06 170.42%);
}

.solos-gradient{
  background: linear-gradient(171.62deg, #ECE2D0 6.42%, #6D2E46 135.2%);
}

.family-gradient{
  background: linear-gradient(178.03deg, #BD897E 1.67%, #FAC697 142.43%);
}

.business-gradient{
  background: linear-gradient(170.68deg, #BD897E 0%, #000000 212.67%);
}

.aboutme-gradient{
  background: linear-gradient(171.62deg, #E08D79 6.42%, #FEE2C0 135.2%);
}
